@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <NavLink class="nav-link" href="addcustomer">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Customer
            </NavLink>
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customers List
            </NavLink>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
